/* GENERAL */
/* ----------------------- */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.banners img {
  display: block;
  width: 100%;
}


html,
body
{
  height: 100%;
}

ul {
  list-style: none;
}

/* MAIN NAV */
/* ----------------------- */
.main-nav {
  width: 100%;
  padding: 0 20px;
  background: #333;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
  position: fixed;
  top: 0;
}

.nav-items {
  list-style: none;
  display: flex;
}

.nav-item a {
  display: block;
  padding: 10px;
  margin: 0 10px 0 0;
  text-decoration: none;
  color: #ccc;
}

.nav-item a:hover {
  color: #ffc200;
  text-decoration: underline;
}

/* MAIN WEBSITE */
/* ----------------------- */
.main-website {
  width: 100%;
  max-width: 800px;
  padding: 20px 10px;
  margin: 50px auto 0 auto;
  color: #333;
}

/* SECTION DESCRIPTION */
/* ----------------------- */
.description {
  text-align: center;
}

.description h1 {
  color: #ffc200;
  font-weight: bold;
  font-size: 2em;
}

.description h2 {
  font-size: 1.5em;
}

.pitch {
  margin: 15px 0 0 0;
  padding: 10px;
  font-style: italic;
  color: #555;
  border-top: 1px solid #ffc200;
  border-bottom: 1px solid #ffc200;
}

.description-links {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  margin: auto;
}

.infos-link-item {
  display: flex;
  flex-direction: column;
  color: #555;
  text-decoration: none;
}

.infos-link-item:hover {
  color: #d18f00;
}

.infos-link-item span {
  display: block;
  margin: 5px 0 0 0;
}

.infos-link-item:hover span {
  text-decoration: underline;
}

.infos-link-item i {
  font-size: 2em;
}

/* SECTION PROJECTS */
/* ----------------------- */
.projects h2,
.resume h2,
.detailed-project h2 {
  text-align: center;
  max-width: 800px;
  background: #333;
  color: #ccc;
  padding: 5px;
  font-size: 1.2em;
  font-weight: 400;
  margin: 20px 0;
}

.project-card {
  min-width: 300px;
  border: 1px solid #ffc200;
  padding: 10px;
  box-shadow: 0 0 10px 0 #aaa;
  margin: 0 0 30px 0;
}

.project-card h3 {
  padding: 0 0 5px 0;
  color: #ffc200;
}

.project-card h4 {
  border-bottom: 1px solid #ffc200;
  padding: 0 0 5px 0;
  font-style: italic;
  color: #888;
}

.project-description {
  font-style: italic;
  padding: 10px 0;
}

.project-technical {
  border-top: 1px solid #ffc200;
  border-bottom: 1px solid #ffc200;
  padding: 10px 0;
}

.project-card ul {
  list-style: none;
}

.project-info {
  padding: 10px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.project-links {
  display: flex;
  justify-content: center;
}

.project-link {
  display: inline-block;
  margin: 8px 0 0 0;
  font-size: 1.2em;
  padding: 5px 10px;
  border-radius: 60px;
  border: 2px solid #d18f00;
  text-decoration: none;
  color: #fff;
  background-color: #d18f00;
}

.project-link:hover {
  text-decoration: underline;
  color: #d18f00;
  background-color: #fff;
}

/* SECTION RESUME */
/* ----------------------- */
.resume {
  padding: 20px 0;
}

.experiences h4,
.part-project h3 {
  font-size: 1.2em;
  text-transform: uppercase;
  color: #ffc200;
  border-bottom: 2px solid #ffc200;
  margin: 15px 0;
}

.exp-item {
  padding: 5px 0;
  margin: 0 0 5px 0;
  border-bottom: 1px solid #333;
}

.exp-item h5 {
  font-size: 1.2em;
}

.exp-item:last-of-type {
  border: none;
}

.exp-infos {
  font-size: 0.9em;
  margin: 5px 0;
  display: flex;
  flex-direction: column;
}

.exp-content {
  list-style: none;
}

em {
  font-weight: 550;
  font-style: normal;
}

.exp-content li {
  margin: 5px 0;
}

.exp-content li a {
  color: #d18f00;
  font-weight: 600;
  text-decoration: none;
}

.exp-content li a:hover {
  color: #ffc200;
  text-decoration: underline;
}

/* DETAILED PROJECT */
/* ----------------------- */

.detail-description {
  margin: 0 0 15px 0;
  font-style: italic;
  color: #555;
}

.part-project h4 {
  margin: 10px 0 5px 0;
  text-decoration: underline;
}

.part-project p {
  margin: 5px 0;
}

.script p {
  margin: 5px 0;
  font-style: italic;
}

.dialogues {
  text-align: center;
  margin: 20px 0;
}

.dialogues h5 {
  font-weight: 900;
}

.dialogues p {
  font-style: normal;
}

.actions {
  text-decoration: underline;
}

.screenshots img {
  display: block;
  min-width: 300px;
  max-width: 800px;
  width: 100%;
  height: auto;
  margin: 20px 0;
}

.detail-index {
  list-style: none;
}

.index-elt {
  margin: 5px 0;
}

.index-elt a {
  color: #d18f00;
  font-weight: 600;
  text-decoration: none;
}

.index-elt a:hover {
  text-decoration: underline;
  color: #ffc200;
}

/* MAIN FOOTER */
/* ----------------------- */
.main-footer {
  color: #ccc;
  font-size: 0.9em;
}

.footer-infos {
  background: #111;
  text-align: center;
  padding: 10px 0;
  line-height: 1.5em;;
}

.footer-infos a {
  text-decoration: none;
  color: #ccc;
}

.footer-infos a:hover {
  color: #ffc200;
  text-decoration: underline;
}

.footer-items {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 10px 0 0 0;
}

.footer-item {
  border-top: 1px solid #777;
}

.footer-items a {
  display: block;
  padding: 0 10px;
}

.footer-copyright {
  padding: 10px 20px;
  background: #333;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
  font-size: 0.9em;
}